@media (max-width: 1200px) {
    .fotoebi {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    .fotoebi > img{
        margin-bottom: 40px;
    }
    .s-2 .container > h3{
        font-size: 20px;
    }
    .s-2 .container > h2{
        margin-bottom: 30px;
    }
}
@media (max-width: 793px){
   form{
    flex-direction: column;
   }
   textarea{
    width: 370px;
    margin: 0 auto;
    margin-bottom: 30px;
   }
   .contact{
    display: flex;
    align-items: center;
   }
}